{
    "extends": "tui",
    "globals": {
        "chance": true,
        "moment": true,
        "NMNS": true,
        "$": true,
        "PerfectScrollbar": true,
        "getColorFromBackgroundColor": true,
        "filterNonNumericCharacter": true,
        "dashContact": true,
        "flatpickr": true
    },
    "rules": {
        "complexity": "off",
        "camelcase": "off",
        "space-before-function-paren": "off",
        "object-curly-spacing": "off"
    }
}