.{css-prefix}dayname
    position: absolute
    margin-left: -1px
    height: 100%
    overflow: hidden
    opacity:0.5

    &.{css-prefix}today
        opacity:1
        font-weight:bold

+prefix-classes(dayname)
    .container
        overflow-y: scroll

    .leftmargin
        position: relative
        height: 100%

    .date
        font-size: 13px

    .name
        font-size: 13px
